body{
  font-family: "Helvetica Neue", sans-serif;
}
.title{
  font-size: 2em;
  font-weight: 900;
}
.sub-title{
  font-size: 1.5em;
  font-style: italic;
}
.source{
  color: #888;
}
#chart {
  width: 800px
  height: 500px
}
